{% extends 'base.html' %}

{% block content %}
    {% include "security/_messages.html" %}
    <div class="card">
        <div class="card-header">
            <h5>{% block title %} Roles {% endblock %}</h5>
        </div>
        <div class="card-body">
            {% if current_user.is_authenticated %}
                <form method="post" action="{{ url_for('main.delete_role', role_id=role.id) }}">
                    
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-primary" type="submit">Delete</button>
                </form>
                <a href="{{ url_for('main.roles') }}"><button class="btn btn-primary">Cancel</button></a>
            {% endif %}
            </div>
    </div>
{% endblock %}